node_modules/
mobile/node_modules/
backend/node_modules/
dist/
.DS_Store
# api/.dockerignore

__pycache__
*.pyc
*.pyo
*.pyd
.env
.env.*
.git
.gitignore
node_modules
tests
*.log
Dockerfile*
docker-compose*

# Next.js
.next/
out/
build/
.swc/

# Hardhat
cache/
artifacts/
typechain/
typechain-types/

# General
coverage/
.nyc_output/
*.log
